@import '../common.scss';
@import '../../../style/scss/common/reset.scss';
@import '../../../style/scss/common/iconfont.css';
@import '../../../style/scss/common/common.scss';
@import '../collect/style';


.tb-content{
  overflow: hidden;
  height:100vh;
}
.tb-auction-detail{
  width: 100%;
  height:100vh;
  position: fixed;
  top:0;
  left: 0;
  z-index: 2;
  bottom: 0;
  overflow: scroll;
  font-size:rem(26px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .tb-auction-detail-gdmask{
    height:rem(200px);
    background: rgba(0,0,0,.3);
  }
  .tb-auction-header{
    padding:0 rem(30px);
    background: #fff;
    border-bottom:rem(2px) solid #eeeeee;
    display: flex;
    height:rem(100px);
    line-height: rem(100px);
    flex-direction: row;
    justify-content: space-between;
    .tb-auction-detail-title{
      font-size: rem(30px);
      font-weight: 600;
    }
    .tb-auction-detail-close{
      color:#cecece;
      font-size: rem(44px);
      font-weight: 400;
    }
  }
  .tb-auction-detail-name{
    height: rem(100px);
    padding:0 rem(30px);
    padding-top: rem(30px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    .tb-auction-detail-fullname{
      color:#222;
      font-size: rem(32px);
      line-height: rem(46px);
    }
    .tb-auction-detail-id {
      color: #666666;
      font-size: rem(22px);
      line-height: rem(46px);
    }
    .tb-collect-state{
      width:rem(156px);
      height:rem(40px);
      margin-top: rem(14px);

    }
    .tb-collect-auction{
      background: url(../../../assets/images/ic_auction.png) no-repeat 0 0;
      background-size: contain;
    }
    .tb-collect-success{
      background: url(../../../assets/images/ic_auction.png) no-repeat 0 0;
      background-size: contain;
    }
    .tb-collect-over{
      background: url(../../../assets/images/ic_auction.png) no-repeat 0 0;
      background-size: contain;
    }
    .tb-collect-exhibition{
      background: url(../../../assets/images/ic_has_delisted.png) no-repeat 0 0;
      background-size: contain;
    }
    .tb-collect-preview{
      background: url(../../../assets/images/ic_bargaining.png) no-repeat 0 0;
      background-size: contain;
    }
    .tb-collect-pause{
      background: url(../../../assets/images/per_ic_r.png) no-repeat 0 0;
      background-size: contain;
    }
    .tb-collect-pay{
      background: url(../../../assets/images/per_ic_s.png) no-repeat 0 0;
      background-size: contain;
    }
  }
  .tb-auction-detail-price{
    height: rem(225px);
    padding:0 rem(30px);
    color:#222222;
    background: #fff;
    line-height: rem(60px);
  }
  .tb-auction-reality{
    color:#d00000;
  }
  .tb-auction-detail-way{
    padding:rem(30px) rem(30px);
    padding-bottom: 0;
    color:#666;
    background: #f7f7f7;
    line-height: rem(60px);
  }
  .tb-auction-detail-logistics{
    background: #fff;
    padding:0 rem(30px);
    color:#222;
    line-height: rem(60px);
    border-bottom:rem(1px) solid #eee;
  }
  .tb-auction-detail-padding{
    height:rem(100px);
  }
  .tb-auction-detail-closegd{
    position: fixed;
    bottom: 0;
    left: 0;
    height:rem(100px);
    line-height: rem(100px);
    color:#222;
    text-align: center;
    width: 100%;
    background: #fff;
  }
}