@import '../../../src/style/scss/common/reset.scss';
@import '../../../src/style/scss/common/iconfont.css';
@import '../../../src/style/scss/common/common.scss';

.header-wrap{
  position: relative;
  padding: rem(10px) rem(30px) 0;
  width: 100%;
  height: rem(320px);
  box-sizing: border-box;
  margin-bottom: rem(38px);
  .up{
    height: rem(94px);
    color: #fff;
    .left{
      display: inline-block;
      width: rem(100px);
      vertical-align: top;
      line-height: rem(94px);
      font-size: rem(32px);
      font-weight: 300;
    }
    .right{
      float: right;
      width: rem(150px);
      font-size: rem(20px);

      a{
        margin-top: rem(12px);
        display: inline-block;
        width: rem(50px);
        height: rem(94px);
        float: left;
        text-align: center;
        .icon{
          width: 0;
          height: 0;
          font-size: rem(42px);
          line-height: rem(42px);
        }
        .operat {
          line-height: rem(20px);
          height:rem(20px);
        }
      }
      .suggest{
        margin-right: rem(38px);
      }
    }
  }
  .down{
    .left{
      position: relative;
      display: inline-block;
      margin-right: rem(30px);
      font-size: 0;
      .avatar{
        display:inline-block;
        width: rem(160px);
        height: rem(160px);
        border-radius: 50%;
        background: #000;
        overflow: hidden;
        .su{
          height: 100%;
          width: 100%;
          border:none;
          border-radius: 50%;
        }
      }
      img{
        position: absolute;
        right: rem(10px);
        bottom: 0;
        width: rem(40px);
        height: rem(40px);
      }
    }
    .right{
      display: inline-block;
      .id{
        height: rem(52px);
        line-height:rem(64px);
        font-size: rem(26px);
        font-weight: 500;
        color: #fff;
      }
      .vip{
        height: rem(48px);
        line-height: rem(48px);
        a{
          display: inline-block;
          height: rem(32px);
          line-height: rem(32px);
          border-radius: rem(6px);
          font-size: rem(16px);
          color: #fff;
          &.plain{
            padding: rem(4px) rem(10px);
            background: #a80000;
          }
          &.upgrade{
            padding: 0 rem(10px);
            border: rem(2px) solid #adb1ad;
            .icon{
              margin-right: rem(6px);
              width: 0;
              height: 0;
              font-size: rem(16px);
            }
          }

        }
      }
      .cash{
        color: #fff;
        span{
          height: rem(24px);
          line-height: rem(24px);
          font-size: rem(24px);
        }
        .rmb{
          height: rem(36px);
          line-height: rem(36px);
          font-size: rem(28px);
          font-weight: 700;
        }
      }
    }
  }
  .authed {
    position: absolute;
    right: 0;
    bottom: rem(104px);
    width: rem(180px);
    height: rem(50px);
    img{
      height: 100%;
      width: 100%;
    }
    span{
      position: absolute;
      left: rem(60px);
      font-size: rem(20px);
      line-height: rem(50px);
      color: #fff;
    }
    i{
      position: absolute;
      right: rem(24px);
      bottom: rem(42px);
      width: 0;
      height: 0;
      font-size: rem(20px);
      color:white;
    }
  }
  .head_bg{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .bg-rule{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: rem(14px);
    color: #fff;
  }
}

.bid{
  display: flex;
  position: relative;
  margin-bottom:10px;
  height: rem(90px);
  line-height: rem(90px);
  border-top: 1px solid #ddd;
  border-bottom: rem(2px) solid #ddd;
  background: #fff;
  .icon.icon-liaotianliebiaozuixiaohua{
    flex: 0 0 rem(106px);
    text-align: center;
    font-size: rem(60px);
  }
  .content{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    span{
      color:#e20001;
      font-weight: 900;
    }
  }
  .icon{
    flex: 0 0 rem(100px);
    text-align: center;
    font-size: rem(40px);
    color: #bcbcbc;
  }
}