@import "../../style/common";

.card{
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
}

.container{
  width: 100%;
  height: 197px;
  background-position: 100% 100%;
  background-size: cover;
}

.artist-container {
  display: flex;
}

.artist{
  width: 25%;
  float: left;
  text-align: center;
  img.artist-header{
    margin: auto;
    width: 80%;
    border-radius: 50%;
  }
  .artist-name{
    font-size: 0.8rem;
    color: #333333;
  }
  .artist-code{
    font-size: 0.75rem;
    color: #999999;
  }
}

.category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:last-child{
    padding-bottom: 10px;
  }
}

.category-item{
  width: calc(50% - 5px);
  margin-bottom: 10px;
  img{
    width: 100%;
    display: block;
  }
}

.menu__container{
  position: absolute;
  z-index: 2;
  background-color: white;
  list-style: none;
  border-radius: 4px;
  margin-top: 10px;
  right: 4px;
  a{
    color: #333;
  }
  li{
    padding: 9px 29px;
    border-bottom: 1px solid #DDD;
    &:last-child{
      border-bottom: none;
    }
  }
  &:before{
    border: 8px solid transparent;
    border-bottom: 10px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    content: ' ';
    bottom: 100%;
    right: 10px;
  }
}