@import '../../../src/style/scss/common/reset.scss';
@import '../../../src/style/scss/common/iconfont.css';
@import '../../../src/style/scss/common/common.scss';

.auction,.bargin, .operations{
  margin-bottom: 10px;
  padding: 0 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  .title{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #333;
  }
  .content{
    display: flex;
    height: 70px;
    box-sizing: border-box;
    a{
      flex: 1;
      display: block;
      text-align:center;
      .icon{
        margin: 7px auto 0;
        width: rem(60px);
        height: rem(60px);
        font-size: rem(50px);
        img{
          width: 100%;
          height: 100%;
        }
      }
      .icon-title{
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        text-align: center;
        color: #b3b3b3;
      }
    }
  }
}
.operations{
  margin-bottom: 18px;
  .case .icon{
    color: #caad5f;
  }
  .record .icon{
    color: #ed784a;
  }
  .addr .icon{
    color: #62592c;
  }
  .pwd .icon{
    color: #516e41;
  }
  .refund .icon{
    color: #c73e3a;
  }
  .record-refund .icon{
    color: #8e354a;
  }
  .delgate .icon{
    color: #e2943b;
  }
  .help .icon{
    color: #bc9f77;
  }



}
.ad{
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  height: 90px;
  .title{
    position: absolute;
    left: 47px;
    top: 0;
    height: 90px;
    line-height: 90px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
  }
  img{
    height: 100%;
    width: 100%;
  }
}
.log{
  margin: 0 auto 69px;
  width:80%;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  border-radius: 3px;
  text-align: center;
  background: #a80000;
  color:#fff;
}