@import "../../style/common";

.head-btn-group{
  position: relative;
  display: flex;
}

.head-btn{
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

.head-btn.active {
  color: $btn-bg-color;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height:2px;
    background-color: $btn-bg-color;
  }
}

.card-container{
  overflow: hidden;
  .card{
    float: left;
    position: relative;
    width: calc(50% - 7.5px);
    &:nth-of-type(odd){
      padding-right: 15px;
    }
    .card-img{
      width: 100%;
      background-size: cover;
      padding-top: 70%;
    }
    .card-body{
      margin-bottom: 15px;
      padding: 15px 9px 9px;
      min-height: 6rem;
      background-color: $body-bg-color;
    }
    h3{
      font-size: 0.9rem;
      line-height: 1;
      color: #222222;
    }
    .card-price{
      margin-bottom: 0.6rem;
      color: #a80000;
      span{
        font-size: 0.9rem;
        font-weight: bold;
      }
      small{
        padding-left: 0.4rem;
        font-size: 0.8rem;
      }
    }
    ul.card-list{
      font-size: 0.8rem;
      list-style: none;
      li{
        position: relative;
        padding-left: 10px;
        color: #999999;
        line-height: 1rem;
        &:before{
          content: '';
          width: 2px;
          height: 2px;
          top: 50%;left: 0;
          background-color: grey;
          border-radius: 2px;
          position: absolute;
        }
      }
    }
  }
}

