@import "../../style/common";


.search-category{
  margin-bottom: 10px;
}

.search-category-title{
  background-color: white;
  font-size: 0.9rem;
  color: #222222;
  padding: 8px 15px;
  border-bottom: 1px solid $border-cl;
}