@import '../common.scss';
@import '../../../style/scss/common/reset.scss';
@import '../../../style/scss/common/iconfont.css';
@import '../../../style/scss/common/common.scss';

.tb-content{
  height:auto;
  min-height: rem(890px);
  .tb-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:rem(104px);
    line-height: rem(104px);
    border-bottom:rem(3px) solid #8e0000;
    .tb-logo{
      height:rem(70px);
      width:rem(70px);
      display: block;
      padding:rem(30px) rem(30px) 0 rem(30px);
      img{
        width:100%;
        height:100%;
      }
    }
    .tb-title{
      color:#333;
      line-height: rem(104px);
      font-size: rem(44px);
      font-weight: 400;
      font-family: "microsoft yahei";
    }
  }
  .tb-user-img{
    height:rem(330px);
    border-bottom:1px solid #dddddd;
    background: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img{
      height:rem(222px);
      width:rem(222px);
      border-radius: 50%;
    }
  }
  .tb-au-info{
    padding: rem(30px);
    .tb-au-item{
      height: rem(88px);
      border-bottom: 1px solid #eeeeee;
      font-size: rem(26px);
      line-height: rem(88px);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .tb-au-title,.ta-au-tel{
        color:#333;
      }
      .tb-input-bar{
        background: #f5f5f5;
        text-align: center;
        flex: 2;
        height:rem(60px);
        margin-top: 6px;
        line-height: rem(60px);
        input{
          border: none;
          outline: none;
          border-radius: 5px;
          background: none;
        }
        .tb-au-getphone-test{
          color:#ea5b3d;
          text-decoration: underline;
        }
        .tb-img-test{
          color:#c51920;
          background: #d5d5d5;
          display: inline-block;
          height: 100%;
          padding:0 5px;
        }
      }
      .tb-au-id-num{
        flex: 2;
        color:#333;
      }
    }
  }
  .ta-au-submit-btn{
    height:rem(330px);
    background: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .tb-au-submit{
      height:rem(92px);
      width:rem(536px);
      background: #d00000;
      border-radius: 5px;
      line-height: rem(92px);
      color:#fff;
    }

  }
}