$main-color: #ea5b3d;

$btn-bg-color: #b00000;

$dot-active-color: #93040B;

$body-bg-color: #f8f8f8;

$border-cl: rgba(155, 155, 155, 0.1);



$zHeader: 998;
$zFooter: 998;
$zModal: 999;


$global-index: header, modal;